<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.java.tests.LoginTest"/>
        </classes>
    </test>
</suite>
<suite name="Selenium Tests" verbose="1">
    <listeners>
        <listener class-name="com.java.reports.ExtentTestListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="com.java.tests.LoginTest"/>
        </classes>
    </test>
</suite>
